/*************** Menu ****************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--primary);
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
  z-index: 2;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  border-radius: 10px;
  font-family: "Bebas Neue";
  padding: 1em;
}

.menu a:hover {
  background-color: var(--primary);
  color: var(--secondary);
  transition: 0.5s ease;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.menu {
  display: none;
}
.burger {
  display: block;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  display: block;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 2; /* ER ØVERST men lottie dækker :-(*/
  background-color: #000000;
}

nav.active .menu li {
  margin: 10px 20px;
}

nav.active .menu a {
  font-size: 24px;
}

.logo a {
  font-size: 3rem;
}
/* ---------------------------------------------------------------------------------*/
.category_list_container {
  display: grid;
  grid-template-columns: 1fr;
}

.cta_index {
  margin: auto;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
}

.cta_index a {
  display: grid;
  background-color: var(--secondary);
  color: var(--contrast);

  text-align: center;
  font-size: 20px;
  justify-content: center;
  padding: 2rem 10rem 2rem 10rem;
}

.cta_index :hover {
  color: var(--secondary);
  background-color: var(--contrast);
  border: 3px solid var(--secondary);
  transition: 0.5s ease;
}

.cta {
  margin: auto;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
}

.cta a {
  display: grid;
  background-color: var(--secondary);
  color: var(--contrast);
  width: auto;
  height: auto;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}

.cta :hover {
  color: var(--secondary);
  background-color: var(--contrast);
  border: 3px solid var(--secondary);
  transition: 0.5s ease;
}

.category_list_container {
  grid-template-columns: 1fr;
}

.box {
  border: solid var(--secondary);
  border-radius: 10px;
  margin: 5px;
  padding: 15px;
}

.product_container {
  display: grid;
  grid-template-columns: 1fr;
}

/* --------STØRRELSESMENU-------------*/

/* Dropdown Button */
.dropbtn {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--secondary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--secondary);
}
/* ------------------------------*/

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.add_to_basket {
  margin: 15px;
}

.sold_out {
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  display: none;
  text-align: center;
  margin: 10px auto;
}
/* -----------------------------------------------------------------MEDIA----------------*/

@media (min-width: 800px) {
  .category_list_container {
    grid-template-columns: 1fr 1fr;
    margin: 15em 0 15em 0;
  }

  .category_list {
    display: grid;
    text-align: center;
  }

  .product_list_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .product_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .information {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .add_to_basket {
    margin: 15px;
  }
}
